:root {
	--near-white: #f0f0f0;
	--light-gray: #ccc;
	--ice-blue: #bfbfeb;

	--c-background: var(--near-white);
	--c-bg-text: var(--light-gray);
	--c-bg-borders: var(--light-gray);
	--c-tool-background: var(--near-white);
	--c-tool-text: var(--light-gray);
	--c-tool-borders: var(--light-gray);
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.chart {
	position: relative;
	overflow: scroll;
	min-height: 100%;
	min-width: 100%;
	background-color: var(--c-background);
	color: var(--c-bg-text);
	border-color: var(--c-bg-borders);
}

.chart .connectors {
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: var(--c-background);
}

.chart .tools {
	display: flex;
	flex-direction: row-reverse nowrap;
	z-index: 1000;
	position: absolute;
	top: 2em;
	right: 2em;
	color: var(--c-tool-text);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
	padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
	width: 100vw;
	height: 100vh;
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid var(--c-tool-borders);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--c-tool-background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
